#greeting {
  text-align: center;
  font-variant: small-caps;
  color: #00aba9;
  font-style: italic;
  font-weight: lighter;
  font-family: serif;
}

#headshot {
  margin-right: 30px;
  margin-bottom: 15px;
  width: 293px;
  max-height: 447px;
  display: inline;
}

@media (min-width: 900px) {
  #headshot {
    max-width: 30%;
    max-height: 30%;
    float:left;
  }
}

#about-content {
  text-align: center;
}