#greeting {
  flex: 0 0 45%;
  text-align: center;
  font-variant: small-caps;
  color: #00aba9;
  font-style: italic;
  font-weight: lighter;
  font-family: serif;
  font-size: 25px;
  margin-bottom: 0;
  align-self: center;
}

#headshot {
  flex: 0 0 45%;
}

.greeting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 20px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.about-content {
  text-align: center;
}

@media (min-width: 1015px) {
  .about-container {
    flex-direction: row;
  }
  .about-content {
    flex: 0 0 48%
  }
}

