.container-contact100 {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info {
  width: calc((100% - 30px) / 2);
  padding-bottom: 13px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: Source Sans Pro;
  font-size: 28px;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  position: relative;
  margin: 0 auto;
}

.tagline {
  letter-spacing: 2px;
}

.content-contact-info, .content-contact-info:hover, .content-contact-info-mobile, .content-contact-info-mobile:hover {
  font-family: Source Sans Pro;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-size: 26px;
  color: #00aba9;
  text-decoration: none;
}

.content-contact-info-mobile {
  display: none;
}

.linkedin-icon, .linkedin-icon-footer {
  max-height: 50px;
  overflow: hidden;
  color: rgba(46, 49, 49, 1);
  transition: color 0.4s;
}

.linkedin-icon:hover {
  color: #00aba9;
}

@media (max-width: 900px) {
  .content-contact-info {
    display: none;
  }
  .content-contact-info-mobile, .content-contact-info-mobile:hover {
    display: contents;
    padding-right: 0px;
  }
  .linkedin-icon, .linkedin-icon:hover {
    font-size: 36px;
    display:block;
  }
  .tagline {
    font-size: 22px;
  }
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 40px;
  text-align: left;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: rgba(46, 49, 49, 1);
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #00aba9;
}


/*---------------------------------------------*/
input.input100 {
  height: 40px;
  border-radius: 3px;
}

textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
  border-radius: 5px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -25px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 50px;
  background-color: #00aba9;
  border-color: #00aba9;

  font-family: Source Sans Pro;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-size: 24px;
  color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 700px) {
  .contact100-form-btn {
    margin-right: 10px;
  }
}

.contact100-form-btn:hover {
  background-color: rgba(46, 49, 49, 0.9);
  border-color: rgba(46, 49, 49, 0.9);
}
