.color-bar {
  height: 80px;
  width: 100%;
  background-color: #00aba9;
  line-height: 100px;
}

.bottom-container {
  position: relative;
  bottom: 0;
  width: 100%;
}

.bottom-bar {
  height: 160px;
  width: 100%;
  background-color: rgba(46, 49, 49, 1);
  align-items: center;
  justify-content: center;
  display: flex;
}

.bottom-content, .bottom-content:hover {
  font-family: Source Sans Pro;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  color: white;
  margin: 0;
}

#business-name {
  color: #00aba9;
}

.mobile {
  display: none;
}

@media (max-width: 900px) {
  .bottom-container .desktop {
    display: none;
  }
  .bottom-container .mobile {
    display: contents;
    padding-right: 0px;
  }
}
