.link-boxs {
  width: 250px;
  height: 200px;
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 20px;
}

.box-1 {
  background-size: cover;
  background-position: center;
  background-image: url('../../images/forest-1.jpg');
}

.box-2 {
  background-size: cover;
  background-position: center;
  background-image: url('../../images/forest-2.jpg');
}

.box-3 {
  background-size: cover;
  background-position: center;
  background-image: url('../../images/forest-3.jpg');
}

.box-4 {
  background-size: cover;
  background-position: center;
  background-image: url('../../images/forest-4.jpg');
}

.slide {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url('../../images/yosemite.jpg');
}

.link-box {
  display: flex;
  align-items: center;
  height: 90%;
}

.link-body {
  font-family: Source Sans Pro;
  font-size: 40px;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: white;
  margin: auto;
}

.link-content {
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 12px;
  color: white;
  margin: auto;
}

.home-description-box {
  margin: 0;
  padding-top: 50px;
}

#desc-box {
  border-style: solid;
  border-color: #00aba9;
  height: 160px;
  line-height: 150px;
  width: 350px;
  margin: 40px;
  font-family: Source Sans Pro;
  font-size: 32px;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
  font-weight: bold;
}

#desc-text {
  text-align: left;
  hyphens: auto;
  line-height: 32px;
  height: 180px;
  width: 420px;
}

#desc-box, #desc-text {
  display: inline-block;
  vertical-align: middle;
}
