.box-1, .box-2, .box-3, .box-4, .slide {
  background-size: cover;
  background-position: center;  
}
.box-1 {
  background-image: url('../../images/forest-1.jpg');
}

.box-2 {
  background-image: url('../../images/forest-2.jpg');
}

.box-3 {
  background-image: url('../../images/forest-3.jpg');
}

.box-4 {
  background-image: url('../../images/forest-4.jpg');
}

.slide {
  height: 600px;
  background-image: url('../../images/yosemite.jpg');
}

.link-boxs {
  text-align: center;
}

.link-box {
  display: flex;
  align-items: center;
  height: 90%;
}

.link-box:hover .link-body {
  font-size: 46px;
}

.link-box:hover .link-content {
  font-size: 14px;
}

.link-body {
  font-family: Source Sans Pro;
  font-size: 40px;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: white;
  margin: auto;
  transition: all 0.15s ease-in;
}

.link-content {
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 12px;
  color: white;
  margin: auto;
  transition: all 0.2s ease-in;
}

.home-description-box {
  margin: 0;
}

#logo-box {
  border-style: solid;
  border-color: rgba(46, 49, 49, 1);
}

#logo-box, .link-boxs {
  height: 250px;
  width: 350px;
  display:inline-block;
  vertical-align: middle;
  margin: 18px 18px 70px 18px;
}

@media (min-width: 600px) {
  #logo-box, .link-boxs {
    height: 200px;
    width: 240px;
  }
}

#desc-box {
  border-style: solid;
  border-color: #00aba9;
  height: 160px;
  line-height: 150px;
  width: 350px;
  margin: 40px;
  font-family: Source Sans Pro;
  font-size: 32px;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
  font-weight: bold;
}

#desc-text {
  text-align: left;
  hyphens: auto;
  line-height: 32px;
  height: 180px;
  width: 420px;
  margin-bottom: 10px;
}

#desc-box, #desc-text {
  display: inline-block;
  vertical-align: middle;
}
