.service-desc {
  display: flex;
  justify-content: space-around;
}

.service-title {
  margin-bottom: 50px;
  font-family: Noir-medium;
}

@media (max-width: 600px) {
  .service-desc {
    display: inline;
  }
}

.leaf {
  width: 40px;
}

.service-item {
  display: inline;
  width: 300px;
}

h3.service-desc-tag {
  color: black;
  font-family: Source Sans Pro;
  transition: 0.15s linear;
}

.service-link:hover, .service-link:hover .service-desc-tag {
  text-decoration: none;
  font-size: 130%;
  margin-bottom: 20px;
}

.service-content {
  text-align: left;
  margin-bottom: 30px;
}

.service-content-title {
  text-align: left;
  font-family: Source Sans Pro;
  color: black;
  margin-top: 30px;
  margin-bottom: 15px;
}